@page "/cadastro"
@inject DadosCarteiras dados

<PageTitle>Cadastrar Carteira</PageTitle>

<h5>Nome:</h5>
<input type="text" @bind=nome />

<h5>Valor Deposito Inicial:</h5>
<input type="text" @bind=valor />

<h5>Numero da conta:</h5>
<input type="text" @bind=numerodaconta />

<h5>CPF:</h5>
<input type="text" @bind=CPF />

<br>
<br>
<button class="btn btn-primary" @onclick="CriarConta">
	Criar Conta
</button>

<br>
<br>
<h1>@mensagem</h1>


@code {
	private string nome;
	private double valor;
	private double numerodaconta;
	private string CPF;
	private string mensagem = "";
	private void CriarConta()
	{
		Carteira novaConta = new Carteira();
		novaConta.Dono = nome;
		novaConta.Depositar(valor);
		novaConta.Cpf = CPF;
		dados.ListaDados.Add(novaConta);
		novaConta.LimiteConta = (valor * 0.1);
		mensagem = $"Carteira Criada com Sucesso ({nome} Saldo:{valor})";
		nome = "";
		valor = 0;
	}
}
